*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root, body, html{
  min-height: 100vh;
  background-color: paleturquoise;
}

:root{

  --oxford-blue: #0b132bff;
  --space-cadet: #1c2541ff;
  --yinmn-blue: #3a506bff;
  --verdigris: #5bc0beff;
  --white: #ffffffff;

}

